<div class="row">
  <h3>Yeni Restoran Ekle</h3>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Yeni Restoran Ekleme
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample"
      >
        <div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Restoran Adi</label
            >
            <input
              type="email"
              class="form-control mb-3"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              [(ngModel)]="restaurantName"
            />
            <label for="exampleInputDesc" class="form-label"
              >Restoran Aciklamasi</label
            >
            <textarea
              type="text"
              class="form-control mb-3"
              id="exampleInputDesc"
              rows="3"
              [(ngModel)]="restaurantDesc"
            ></textarea>
            <label for="exampleInputAddress" class="form-label"
              >Restoran Adresi</label
            >
            <textarea
              type="text"
              class="form-control mb-3"
              id="exampleInputAddress"
              rows="3"
              [(ngModel)]="restaurantAddress"
            ></textarea>
            <label for="exampleInputTel" class="form-label"
              >Restoran Telefon</label
            >
            <input
              type="tel"
              class="form-control mb-3"
              id="exampleInputTel"
              aria-describedby="emailHelp"
              [(ngModel)]="restaurantTel"
            />
            <label for="exampleInputTel" class="form-label"
              >Ortalama Puan</label
            >
            <input
              type="tel"
              class="form-control mb-3"
              id="exampleInputTel"
              aria-describedby="emailHelp"
              [(ngModel)]="restaurantRate"
            />
            <label for="exampleInputTel" class="form-label"
              >Ortalama Fiyat</label
            >
            <input
              type="tel"
              class="form-control mb-3"
              id="exampleInputTel"
              aria-describedby="emailHelp"
              [(ngModel)]="restaurantPrice"
            />
            <label for="exampleInputTel" class="form-label">Kategori</label>
            <select class="form-control" [(ngModel)]="restaurantCategory">
              <option value="1">1 - Dining</option>
              <option value="2">2 - Breakfast</option>
              <option value="3">3 - Club</option>
            </select>
          </div>
          <button
            type="button"
            (click)="onAddNewRestaurant()"
            class="btn btn-primary"
          >
            Kaydet
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <h3>Tüm Restoranlar</h3>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" *ngFor="let restaurant of restaurantsList">
    <div class="card h-100">
      <div class="card-hover-effect">
        <button
          class="btn btn-danger btn-delete"
          (click)="onDelete(restaurant.id)"
        >
          Delete
        </button>
      </div>
      <a class="restaurant-link">
        <img src="{{ restaurant.picture }}" class="card-img-top" alt="" />
        <div class="card-body">
          <div class="card-body-left">
            <h5>{{ restaurant.name }}</h5>
            <p class="card-text">{{ restaurant.description }}</p>
            <p class="card-text">{{ restaurant.address }}</p>
          </div>
          <div class="card-body-left">
            <p class="card-title">
              <span class="rating"
                >{{ restaurant.rate }} <span class="star">*</span></span
              >
            </p>
            <p class="card-text">{{ restaurant.description }}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
