<div class="row footer">
  <div class="col-xs-12 footer-container">
    <a href="#">
      <img src="../../assets/logo-restavo.png" alt="" style="width: 100px"
    /></a>
    <div class="footer-links">
      <div class="about-zomato">
        <ul>
          <li class="list-title">About Restavo</li>
          <li><a href="#">Who We Are?</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Work With Us</a></li>
          <li><a href="#">Investor Relations</a></li>
          <li><a href="#">Dolandiricilik Bildir</a></li>
        </ul>
      </div>
      <div class="zomaverse">
        <ul>
          <li class="list-title">Zomaverse</li>
          <li><a href="#">Zomato</a></li>
          <li><a href="#">Feeding India</a></li>
          <li><a href="#">Hyperpure</a></li>
          <li><a href="#">Zomaland</a></li>
        </ul>
      </div>
      <div class="enterprises">
        <ul>
          <li class="list-title">For Enterprises</li>
          <li><a href="#">Zomato For Work</a></li>
        </ul>
      </div>
      <div class="learn-more">
        <ul>
          <li class="list-title">Learn More</li>
          <li><a href="#">Gizlilik</a></li>
          <li><a href="#">Guvenlik</a></li>
          <li><a href="#">Kullanici Kosullari ve Islem Kilavuzu</a></li>
          <li><a href="#">Site Haritasi</a></li>
        </ul>
      </div>
    </div>
    <hr />
    <p style="text-align: center">Her hakki saklidir &copy;</p>
  </div>
</div>
