<header>
  <img src="../../assets/bgimage.jpg" class="bg-image" alt="" />
  <div class="image-gradient"></div>
  <nav
    class="navbar navbar-expand-lg navbar-light"
    [class.navbar-inverse]="navbar_variable"
  >
    <input type="checkbox" class="menu-input" />
    <div class="container-fluid navbar-div">
      <a class="navbar-brand" routerLink="/"
        ><img class="logo" src="../assets/logo-restavo.png" alt=""
      /></a>
      <div class="navbar-links-container">
        <ul class="navbar-links-list">
          <li *ngIf="userType === 'admin'">
            <a class="nav-link-item" routerLink="/admin">Admin Panel</a>
          </li>
          <li *ngIf="resText">
            <a
              class="nav-link-item"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              routerLink="/reservations"
              >Rezervasyonlarım</a
            >
          </li>
          <li *ngIf="!isUserActive">
            <a class="nav-link-item" (click)="onSignUp()"> Üye Ol </a>
          </li>
          <li>
            <a class="nav-link-item" (click)="onLogin()">
              {{ loginText }}
            </a>
          </li>
        </ul>
      </div>
      <div class="hamburger-menu-container">
        <div class="line line-top"></div>
        <div class="line line-mid"></div>
        <div class="line line-bottom"></div>
      </div>
    </div>
  </nav>
  <div class="main-texts">
    <h1 class="main-title">Restavo</h1>
    <h2 class="main-text">
      İstanbul içindeki en iyi yemek ve içecekleri keşfet
    </h2>
    <form class="d-flex navbar-search" role="search">
      <input
        class="form-control me-2 main-search"
        type="search"
        placeholder="Restoran adına göre arama yap..."
        aria-label="Search"
        [ngModel]="searchInput"
        (ngModelChange)="onSearchInputChange($event)"
        [ngModelOptions]="{ standalone: true }"
      />
      <button
        class="btn btn-success btn-search"
        type="button"
        (click)="onSearch()"
      >
        Search
      </button>
    </form>
  </div>

  <div *ngIf="showSignUpModal" class="modal" id="exampleModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Üye Ol</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="signUpModalClose()"
          ></button>
        </div>
        <div class="modal-body">
          <form class="res-form">
            <input
              type="text"
              placeholder="Kullanıcı Adı"
              required
              [ngModel]="newUserUsername"
              (ngModelChange)="onNewUserUsernameChange($event)"
              [ngModelOptions]="{ standalone: true }"
            />
            <input
              type="password"
              placeholder="Şifre"
              required
              [ngModel]="newUserPassword"
              (ngModelChange)="onNewUserPasswordChange($event)"
              [ngModelOptions]="{ standalone: true }"
            />
            <button
              type="submit"
              (click)="signup($event)"
              class="btn btn-primary"
            >
              Üye Ol
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>

<div
  class="modal-background"
  *ngIf="showModal"
  (click)="showModal = false"
></div>
<div class="modal-dialog modal-dialog-centered" *ngIf="showModal">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Giriş Yap</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        (click)="loginModalClose()"
      ></button>
    </div>
    <div class="modal-body">
      <form class="res-form">
        <input
          type="text"
          placeholder="Kullanıcı Adı"
          required
          [ngModel]="username"
          (ngModelChange)="onUsernameChange($event)"
          [ngModelOptions]="{ standalone: true }"
        />
        <input
          type="password"
          placeholder="Şifre"
          required
          [ngModel]="password"
          (ngModelChange)="onPasswordChange($event)"
          [ngModelOptions]="{ standalone: true }"
        />
        <button
          type="submit"
          (click)="login()"
          class="btn btn-primary"
          (click)="showModal = false"
        >
          Giriş
        </button>
      </form>
    </div>
    <div class="modal-footer"></div>
  </div>
</div>
