header {
  /* background-image: linear-gradient(
      rgba(34, 34, 34, 0.65),
      rgba(34, 34, 34, 0.65)
    ),
    url("../../assets/bgimage.jpg"); */
  object-fit: contain;
  background-repeat: no-repeat;
  height: 70vh;
  width: 99vw;

  background-size: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.bg-image {
  height: 70vh;
  width: 100vw;
  position: absolute;
  z-index: -99;
  object-fit: cover;
}

.image-gradient {
  position: absolute;
  width: 100vw;
  height: 70vh;
  background-image: linear-gradient(
    rgba(34, 34, 34, 0.65),
    rgba(34, 34, 34, 0.65)
  );
  z-index: -6;
}

.main-texts {
  display: flex;
  margin-top: 200px;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}

.main-text {
  color: white;
  font-size: 4rem;
}

.main-title {
  color: white;
  font-size: 9rem;

  /* text-transform: lowercase; */
}

.navbar {
  width: 100%;
  background-color: transparent;
  transition: all 0.5s ease-in;
  position: fixed;
  padding: 1rem 0;
}

.navbar-inverse {
  background-color: white;
  z-index: 1;
}

.navbar-inverse .navbar-div div ul li a {
  color: black;
}

.navbar-div {
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-links-list {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
}

.nav-link-item {
  color: white;
  text-decoration: none;
  font-weight: normal;
  font-size: 2.5rem;
  display: block;
  cursor: pointer;
  transition: all 0.1s ease;
}

.nav-link-item:hover {
  transform: scale(1.05);
}

.main-search {
  width: 50rem;
  height: 3.5rem;
}

.btn-success {
  background-color: #ff922b;
  border: none;
  transition: all 0.2s ease-in;
  padding: 0 2rem;
}

.btn-success:hover {
  background-color: #fd7e14;
}

.modal {
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  padding: 20px;
  width: 400px;
}

.modal-title {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 15px;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-dialog-centered {
  z-index: 51;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.res-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.res-form input {
  height: 40px;
  cursor: pointer;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  text-indent: 10px;
  cursor: auto;
}

.res-form label {
  font-weight: 500;
}

@media screen and (min-width: 1255px) and (max-width: 1600px) {
  .main-text {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1254px) {
  .main-text {
    font-size: 2.5rem;
  }
}
