header {
  /* background-image: linear-gradient(
      rgba(34, 34, 34, 0.65),
      rgba(34, 34, 34, 0.65)
    ),
    url("../../assets/bgimage.jpg"); */
  object-fit: contain;
  background-repeat: no-repeat;
  height: 70vh;
  width: 99vw;

  background-size: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.bg-image {
  height: 70vh;
  width: 100vw;
  position: absolute;
  z-index: -99;
  object-fit: cover;
}

.image-gradient {
  position: absolute;
  width: 100vw;
  height: 70vh;
  background-image: linear-gradient(
    rgba(34, 34, 34, 0.65),
    rgba(34, 34, 34, 0.65)
  );
  z-index: -6;
}

.main-texts {
  display: flex;
  margin-top: 200px;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.main-text {
  color: white;
}

.main-title {
  color: white;
  font-size: 5rem;
}

.navbar {
  width: 100%;
  background-color: transparent;
  transition: all 0.5s ease-in;
  position: fixed;
}

.navbar-inverse {
  background-color: white;
  z-index: 1;
}

.navbar-inverse .navbar-div div ul li a {
  color: black;
}

.navbar-div {
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-collapse {
  flex-grow: 0;
}

.nav-link {
  color: white;
}

.navbar-links-list {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
}

.nav-link-item {
  color: white;
  text-decoration: none;
  font-weight: normal;
  font-size: 1.2rem;
  display: block;
  transition: all 0.1s ease;
}

.nav-link-item:hover {
  transform: scale(1.05);
}

.main-search {
  width: 400px;
}

.btn-success {
  background-color: #ff922b;
  border: none;
  transition: all 0.2s ease-in;
}

.btn-success:hover {
  background-color: #fd7e14;
}

@media (max-width: 1022px) {
  .main-title {
    font-size: 3rem;
  }

  .main-text {
    font-size: 1.5rem;
  }

  .main-search {
    width: 300px;
  }
}
