<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid navbar-div">
      <a class="navbar-brand" href="#"
        ><img src="../assets/logo-restavo.png" alt="" style="width: 150px"
      /></a>
      <div class="navbar-links-container">
        <ul class="navbar-links-list">
          <li>
            <a class="nav-link-item" href="#">Kaydol</a>
          </li>
          <li>
            <a class="nav-link-item" href="#">Giriş Yap</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="main-texts">
    <h1 class="main-title">Restavo</h1>
    <h2 class="main-text">
      İstanbul içindeki en iyi yemek ve içecekleri keşfet
    </h2>
    <form class="d-flex" role="search">
      <input
        class="form-control me-2 main-search"
        type="search"
        placeholder="Restoran, yemek veya mutfak türü ara"
        aria-label="Search"
      />
      <button class="btn btn-success" type="submit">Search</button>
    </form>
  </div>
</header>
