<div class="row row-categories">
  <div class="col-md-12 col-lg-4">
    <div class="card">
      <a class="categories-link" href="" routerLink="/restaurants">
        <img
          src="../../assets/restaurants.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Dining Out</h5>
          <p class="card-text">Şehrin en iyi restoranlarını görüntüle</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-12 col-lg-4">
    <div class="card">
      <a
        class="categories-link"
        routerLink="/dining"
        routerLinkActive="active-button"
      >
        <img src="../../assets/clubs.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Nightlife and Clubs</h5>
          <p class="card-text">
            Şehrin en iyi gece hayatı mekanlarını keşfedin
          </p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-12 col-lg-4">
    <div class="card">
      <img src="../../assets/breakfast.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Breakfast</h5>
        <p class="card-text">Şehrin en iyi kahvaltı mekanları</p>
      </div>
    </div>
  </div>
</div>
