.row-categories {
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  border-radius: 15px;
  width: 23rem;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.card:hover {
  transform: scale(1.02);
}

.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card img {
  height: 10rem;
}

.categories-link {
  text-decoration: none;
  color: black;
}

@media (min-width: 933px) and (max-width: 1390px) {
  .row-categories {
    /* background-color: red; */
    grid-template-columns: 1fr 1fr;
  }
  .card {
    margin-bottom: 20px;
  }
}
@media (max-width: 933px) {
  .row-categories {
    /* background-color: red; */
    grid-template-columns: 1fr;
  }
  .card {
    margin-bottom: 20px;
  }
}
