<div class="row row-categories">
  <div class="col-md-12 col-lg-4" *ngFor="let category of categories">
    <div class="card">
      <a class="categories-link" href="" routerLink="/restaurants">
        <img
          src="../../assets/restaurants.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{ category.username }}</h5>
          <p class="card-text">{{ category.name }}</p>
        </div>
      </a>
    </div>
  </div>
</div>
