<div class="row">
  <h2>Rezervasyonlarım</h2>
</div>
<div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Restoran Adı</th>
        <th scope="col">Tarih</th>
        <th scope="col">Saat</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Restoran 1</td>
        <td>24.06.2022</td>
        <td>21:00</td>
        <td>
          <button type="button" class="btn btn-warning">Güncelle</button>
          <button type="button" class="btn btn-danger">İptal Et</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
