.row {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  align-items: flex-end;
  gap: 20px;
}
.buttons {
  /* background-color: red; */
  display: inline-block;
}

table {
  width: 90%;
}

.btn {
  display: inline-block;
  width: 100px;
  height: 40px;
}
