<div class="row">
  <h2>Rezervasyonlarım</h2>
</div>
<div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Restoran Adı</th>
        <th scope="col">Tarih</th>
        <th scope="col">Saat</th>
        <th scope="col">Kişi Sayısı</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservationList">
        <th scope="row"></th>
        <td>{{ reservation.restName }}</td>
        <td>{{ reservation.reservationDate }}</td>
        <td>{{ reservation.reservationTime }}</td>
        <td>{{ reservation.personNum }}</td>
        <td>
          <button
            type="button"
            class="btn btn-danger"
            (click)="onCancelReservation(reservation.id)"
          >
            İptal Et
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
