.row {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  align-items: flex-end;
  gap: 20px;
}
button {
  margin-right: 10px;
}

table {
  width: 90%;
}

.btn {
  display: inline-block;
  width: 8rem;
  height: 3rem;
}

@media screen and (min-width: 501px) and (max-width: 600px) {
  .btn-danger {
    padding: 0;
    width: 6rem;
    height: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .btn-danger {
    padding: 0;
    width: 4rem;
    height: 2rem;
  }

  table {
    font-size: 0.5rem;
  }

  td {
    width: 10px;
    overflow: hidden;
  }
}
