<div class="row">
  <div class="column column-1">
    <img src="../../assets/restaurants.jpg" />
  </div>
  <div class="column column-2">
    <img src="../../assets/restaurants.jpg" />
    <img src="../../assets/restaurants.jpg" />
    <img src="../../assets/restaurants.jpg" />
  </div>
  <div class="column column-3">
    <img src="../../assets/restaurants.jpg" />
    <img src="../../assets/restaurants.jpg" />
    <img src="../../assets/restaurants.jpg" />
  </div>
  <div class="resto-info">
    <h2>Rest Name</h2>
    <p>Steak, Burger</p>
    <p>Besiktas Merkez, Istanbul</p>
  </div>
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="">Genel Bakis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-res" (click)="showModal = !showModal"
          >Rezervasyon Yap</a
        >
      </li>
    </ul>
  </div>
  <div class="about-section">
    <div class="about-rest">
      <h4>Mekan Hakkinda</h4>
      <div class="rest-attr">
        <img
          src="../../assets/steril.jpg"
          alt=""
          style="width: 40px; height: 40px"
        />
        <div>
          <p class="p-title">Restoran Guvenlik Onlemi</p>
          <p class="p-desc">Steril Mutfak</p>
        </div>
      </div>
      <p>Menu</p>
      <div class="menu-container">
        <img src="../../assets/menu.jpg" alt="" class="img-thumbnail" />
      </div>
      <p>Mutfak Turu</p>
      <div class="type-container">
        <a href="">Steak</a>
        <a href="">Burger</a>
      </div>
    </div>
    <p>Ortalama Tutar</p>
    <div class="average-price">
      <p>15$ iki kisi icin</p>
      <p>Nakit ve kredi karti kabul edilir.</p>
    </div>
    <p>Daha fazla bilgi</p>
    <div class="more-info">
      <i>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="#119199"
          width="20"
          height="20"
          viewBox="0 0 20 20"
          aria-labelledby="icon-svg-title- icon-svg-desc-"
          role="img"
          class="sc-rbbb40-0 iRDDBk"
        >
          <path
            d="M1.5 10C1.5 5.3125 5.3125 1.5 10 1.5C14.6875 1.5 18.5 5.3125 18.5 10C18.5 14.6875 14.6875 18.5 10 18.5C5.3125 18.5 1.5 14.6875 1.5 10ZM0 10C0 15.5 4.5 20 10 20C15.5 20 20 15.5 20 10C20 4.5 15.5 0 10 0C4.5 0 0 4.5 0 10ZM13.75 7.25L8.75 12.1875L6.25 9.75C5.9375 9.4375 5.5 9.4375 5.1875 9.75C4.875 10 4.875 10.5 5.1875 10.8125L8.1875 13.8125C8.3125 13.9375 8.5 14.0625 8.75 14.0625C8.9375 14.0625 9.125 14 9.25 13.8125L14.75 8.3125C15.0625 8 15.0625 7.5625 14.75 7.25C14.4375 6.9375 14 6.9375 13.75 7.25Z"
          ></path>
        </svg>
      </i>
      <p>Paket Servis</p>
    </div>
    <div class="more-info">
      <i>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="#119199"
          width="20"
          height="20"
          viewBox="0 0 20 20"
          aria-labelledby="icon-svg-title- icon-svg-desc-"
          role="img"
          class="sc-rbbb40-0 iRDDBk"
        >
          <path
            d="M1.5 10C1.5 5.3125 5.3125 1.5 10 1.5C14.6875 1.5 18.5 5.3125 18.5 10C18.5 14.6875 14.6875 18.5 10 18.5C5.3125 18.5 1.5 14.6875 1.5 10ZM0 10C0 15.5 4.5 20 10 20C15.5 20 20 15.5 20 10C20 4.5 15.5 0 10 0C4.5 0 0 4.5 0 10ZM13.75 7.25L8.75 12.1875L6.25 9.75C5.9375 9.4375 5.5 9.4375 5.1875 9.75C4.875 10 4.875 10.5 5.1875 10.8125L8.1875 13.8125C8.3125 13.9375 8.5 14.0625 8.75 14.0625C8.9375 14.0625 9.125 14 9.25 13.8125L14.75 8.3125C15.0625 8 15.0625 7.5625 14.75 7.25C14.4375 6.9375 14 6.9375 13.75 7.25Z"
          ></path>
        </svg>
      </i>
      <p>Sarap ve Bira</p>
    </div>
    <div class="more-info">
      <i>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="#119199"
          width="20"
          height="20"
          viewBox="0 0 20 20"
          aria-labelledby="icon-svg-title- icon-svg-desc-"
          role="img"
          class="sc-rbbb40-0 iRDDBk"
        >
          <path
            d="M1.5 10C1.5 5.3125 5.3125 1.5 10 1.5C14.6875 1.5 18.5 5.3125 18.5 10C18.5 14.6875 14.6875 18.5 10 18.5C5.3125 18.5 1.5 14.6875 1.5 10ZM0 10C0 15.5 4.5 20 10 20C15.5 20 20 15.5 20 10C20 4.5 15.5 0 10 0C4.5 0 0 4.5 0 10ZM13.75 7.25L8.75 12.1875L6.25 9.75C5.9375 9.4375 5.5 9.4375 5.1875 9.75C4.875 10 4.875 10.5 5.1875 10.8125L8.1875 13.8125C8.3125 13.9375 8.5 14.0625 8.75 14.0625C8.9375 14.0625 9.125 14 9.25 13.8125L14.75 8.3125C15.0625 8 15.0625 7.5625 14.75 7.25C14.4375 6.9375 14 6.9375 13.75 7.25Z"
          ></path>
        </svg>
      </i>
      <p>Ic Mekan</p>
    </div>
    <div class="more-info">
      <i>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="#119199"
          width="20"
          height="20"
          viewBox="0 0 20 20"
          aria-labelledby="icon-svg-title- icon-svg-desc-"
          role="img"
          class="sc-rbbb40-0 iRDDBk"
        >
          <path
            d="M1.5 10C1.5 5.3125 5.3125 1.5 10 1.5C14.6875 1.5 18.5 5.3125 18.5 10C18.5 14.6875 14.6875 18.5 10 18.5C5.3125 18.5 1.5 14.6875 1.5 10ZM0 10C0 15.5 4.5 20 10 20C15.5 20 20 15.5 20 10C20 4.5 15.5 0 10 0C4.5 0 0 4.5 0 10ZM13.75 7.25L8.75 12.1875L6.25 9.75C5.9375 9.4375 5.5 9.4375 5.1875 9.75C4.875 10 4.875 10.5 5.1875 10.8125L8.1875 13.8125C8.3125 13.9375 8.5 14.0625 8.75 14.0625C8.9375 14.0625 9.125 14 9.25 13.8125L14.75 8.3125C15.0625 8 15.0625 7.5625 14.75 7.25C14.4375 6.9375 14 6.9375 13.75 7.25Z"
          ></path>
        </svg>
      </i>
      <p>Dis Mekan</p>
    </div>
    <div class="address-container">
      <p class="about-title">Ara</p>
      <p class="about-number">+908502547876</p>
      <p class="about-title">Yol Tarifi</p>
      <img
        src="https://maps.zomato.com/php/staticmap?center=41.0436391235,29.0020920709&maptype=zomato&markers=41.0436391235,29.0020920709,pin_res32&sensor=false&scale=2&zoom=16&language=tr&size=240x150&size=400x240&size=650x250"
        alt=""
        class="img-location"
      />
      <p class="about-address">
        Vişnezade Mahallesi, Şair Nedim Caddesi, No: 33/A, Beşiktaş, İstanbul
      </p>
    </div>
  </div>
  <div class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Yeni Rezervasyon Olustur</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
