.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  width: 60%;
  margin: 0 auto;
  margin-top: -100px;
  /* background-color: red; */
}

/* Create four equal columns that sits next to each other */

.grid-gallery {
  display: flex;
  gap: 0.5rem;
  /* grid-template-columns: 2.5fr 1fr; */

  /* grid-template-rows: 2fr 1fr; */

  width: 100%;
}

.grid-gallery img {
  /* width: 300px;
  height: 400px; */
}

.other-images {
  display: grid;
  /* flex-wrap: wrap; */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem;
}

.other-images img {
  width: 100%;
  height: 100%;
}

/* .column {
  flex: 20%;
  max-width: 20%;
  padding: 0 4px;
  overflow: hidden;
  height: 500px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  cursor: pointer;
  object-fit: contain;
  transition: all 0.4s ease-in;
}

.column img:hover {
  transform: scale(1.05);
}

.column-1 {
  flex: 60%;
  max-width: 60%;
}

.column-2 img,
.column-3 img {
  width: 100%;
  height: 160px;
  object-fit: cover;
} */

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.nav-link {
  color: #232323;
}

.nav-res {
  transition: all 0.5s ease;
  cursor: pointer;
}

.nav-res:hover {
  background-color: #ff922b;
  color: white;
}

.rest-attr {
  display: flex;
  align-items: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  max-width: 210px;
  border-radius: 5px;
  gap: 10px;
  padding: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

.rest-attr img {
  border-radius: 50%;
  object-fit: contain;
}

.p-title {
  font-size: 10px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
  position: absolute;
}

.p-desc {
  font-size: 16px;
  margin-top: 15px;
  font-weight: 400;
}

h4 {
  margin: 10px 0;
  font-weight: 400;
}

.menu-container {
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 10px;
}

.menu-container img {
  transition: all 0.4s ease;
  width: 250px;
  height: 250px;
}

.menu-container:hover img {
  transform: scale(1.2);
}

.type-container {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.type-container a {
  text-decoration: none;
  color: cornflowerblue;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 12px;
}

.average-price {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.more-info {
  display: flex;
  gap: 10px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
}

.about-section {
  position: relative;
}

.address-container {
  width: 280px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 10px;
}

.img-location {
  width: 260px;
  height: 150px;
}

.about-title {
  font-size: 18px;
}

.about-number {
  color: salmon;
}

.about-address {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.6);
}

@media (min-width: 800px) and (max-width: 1070px) {
  .address-container {
    width: 200px;
    padding: 10px;
  }

  .img-location {
    width: 180px;
    height: 120px;
  }

  .about-title {
    font-size: 14px;
  }

  .about-number {
    color: salmon;
    font-size: 12px;
  }

  .about-address {
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  .address-container {
    width: 200px;
    padding: 10px;
    position: relative;
  }

  .img-location {
    width: 180px;
    height: 120px;
  }

  .about-title {
    font-size: 14px;
  }

  .about-number {
    color: salmon;
    font-size: 12px;
  }

  .about-address {
    font-size: 12px;
  }
}

.modal {
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  padding: 20px;
  width: 400px;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-dialog-centered {
  z-index: 51;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.res-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.res-form input,
.res-form select {
  height: 40px;
  cursor: pointer;
  margin-bottom: 10px;
  height: 40px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  text-indent: 10px;
}

.res-form input:first-of-type {
  cursor: auto;
}

.res-form label {
  font-weight: 500;
}

.modal-res {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
}

.modal-content-res {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
