<div class="row">
  <div class="column column-1">
    <img src="../../assets/restaurants.jpg" />
  </div>
  <div class="column column-2">
    <img src="../../assets/restaurants.jpg" />
    <img src="../../assets/restaurants.jpg" />
    <img src="../../assets/restaurants.jpg" />
  </div>
  <div class="column column-3">
    <img src="../../assets/restaurants.jpg" />
    <img src="../../assets/restaurants.jpg" />
    <img src="../../assets/restaurants.jpg" />
  </div>
  <div class="resto-info">
    <h2>Rest Name</h2>
    <p>Steak, Burger</p>
    <p>Besiktas Merkez, Istanbul</p>
  </div>
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="">Genel Bakis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Rezervasyon Yap</a>
      </li>
    </ul>
  </div>
  <div class="about-rest">
    <h4>Mekan Hakkinda</h4>
    <div class="rest-attr">
      <img
        src="../../assets/logo-restavo.png"
        alt=""
        style="width: 40px; height: 40px"
      />
      <span>
        <p>Restoran Guvenlik Onlemi</p>
        <p>Steril Mutfak</p>
      </span>
    </div>
  </div>
</div>
